.host {
  display: inline;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  background: none;
  color: var(--vkui_internal--link-color, var(--vkui--color_text_link));
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
}

@media (--hover-has) {
  .withUnderline:hover {
    text-decoration: underline;
  }
}

.hasVisited:visited {
  color: var(--vkui--color_text_link_visited);
}

.before,
.after {
  display: inline-block;
  vertical-align: middle;
}

.before {
  margin-inline-end: var(--vkui--spacing_size_xs);
}

.after {
  margin-inline-start: var(--vkui--spacing_size_xs);
}
