/* Page styles */
.host {
  display: block;
  box-sizing: border-box;
  border-radius: var(--vkui--size_border_radius--regular);
  block-size: var(--vkui--size_button_large_height--regular);
  color: var(--vkui--color_text_secondary);
  inline-size: 100%;
  line-height: var(--vkui--size_button_large_height--regular);
  min-inline-size: 40px;
  padding-inline: 8px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.stateHover {
  background-color: var(--vkui--color_transparent--hover);
}

.stateActive,
.current {
  background-color: var(--vkui--color_transparent--active);
  color: var(--vkui--color_text_primary);
}

.disabled {
  opacity: var(--vkui--opacity_disable);
}

.sizeYCompact {
  block-size: var(--vkui--size_button_large_height--compact);
  line-height: var(--vkui--size_button_large_height--compact);
}

@media (--sizeY-compact) {
  .sizeYNone {
    block-size: var(--vkui--size_button_large_height--compact);
    line-height: var(--vkui--size_button_large_height--compact);
  }
}

.typeEllipsis {
  min-inline-size: 16px;
  padding-inline: 0;
}
