.host {
  display: inline-flex;
  max-inline-size: 100%;
  min-inline-size: 0;
}

/* Хак для того, чтобы убрать системный тултип в Safari */
.host.disableNativeTitle::after,
.host.disableNativeTitle .content::after {
  display: block;
  content: '';
}

.content {
  overflow: hidden;
  flex: 0 0 auto;
  max-inline-size: inherit;
  min-inline-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contentMultiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  white-space: normal;
}
