.root {
  display: flex;
  background-color: var(--vkui--color_background_content);
  color: var(--vkui--color_text_subhead);
  margin-inline: auto;
}

.maxWidth {
  max-inline-size: var(--vkui_docs--max-width);
}

.blog {
  flex-direction: column;
  max-inline-size: var(--vkui_docs_blog--max-width);
  padding-block-end: 60px;
  padding-block-start: var(--vkui--spacing_size_4xl);
  padding-inline: 40px;
}

@media (--viewWidth-smallTabletMinus) {
  .blog {
    padding-inline: var(--vkui--size_base_padding_horizontal--regular);
  }
}
