.host:not([hidden]) {
  position: fixed;
  z-index: var(--vkui--z_index_modal);
  overflow: hidden;
  inset: 0;
  isolation: isolate;
}

/* Desktop */
@media (--viewWidth-smallTabletPlus) {
  .host:not([hidden]) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
