.host {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: inherit;
  appearance: none;
  background: transparent;
  block-size: 100%;
  color: var(--vkui--color_text_primary);
  cursor: pointer;
  transition: color 100ms ease-out;
  user-select: none;
}

.hover {
  opacity: 0.5;
}

.before {
  margin-inline-end: 6px;
}
