.host {
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: text;
}

.header {
  display: block;
  overflow: hidden;
  color: var(--vkui--color_text_subhead);
  margin-block-end: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
