.host {
  --vkui_internal--actionsheet_animation_opacity_initial: 1;
  --vkui_internal--actionsheet_animation_translateY_initial: 100%;

  box-sizing: border-box;
  padding: 10px;
  inline-size: 100%;
  max-inline-size: var(--vkui--size_popup_small--regular);
}

@media (--reduce-motion) {
  .host {
    --vkui_internal--actionsheet_animation_opacity_initial: 0;
    --vkui_internal--actionsheet_animation_translateY_initial: 0%;
  }
}

.contentWrapper {
  overflow: hidden;
  border-radius: 12px;
  background: var(--vkui--color_background_modal);
  box-shadow: var(--vkui--elevation3);
  padding-block: 8px;
  padding-inline: 0;
}

.header {
  color: var(--vkui--color_text_subhead);
  padding-block: 16px;
  padding-inline: 16px;
}

.opening {
  /* prettier-ignore */
  animation: animation-actionsheet-slide-up var(--vkui--animation_duration_m) var(--vkui--animation_easing_platform);
}

.closing {
  /* prettier-ignore */
  animation: animation-actionsheet-slide-down var(--vkui--animation_duration_m) var(--vkui--animation_easing_platform);
  opacity: 0;
}

.title + .description {
  margin-block-start: 8px;
}

/**
 * iOS
 */
.ios {
  padding: 8px;
  background: transparent;
}

.ios .contentWrapper {
  padding: 0;
  border-radius: 14px;
}

.closeItemWrapperIos {
  overflow: hidden;
  border-radius: 14px;
  background: var(--vkui--color_background_modal);
  box-shadow: var(--vkui--elevation3);
  margin-block: 8px var(--vkui_internal--safe_area_inset_bottom);
}

.ios.closing {
  transform: translateY(100%);
}

.ios .header {
  position: relative;
  text-align: center;
}

.ios .title {
  position: relative;
}

.ios .description {
  position: relative;
}

.ios .header::before {
  position: absolute;
  background-color: var(--vkui--color_background_modal);
  block-size: 100%;
  content: '';
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
}

/**
 * Compact
 */

.sizeYCompact .header {
  padding-block: 12px;
}

/**
 * Desktop version
 */

.menu {
  --vkui_internal--actionsheet_animation_opacity_initial: 0;
  --vkui_internal--actionsheet_animation_translateY_initial: 5%;

  padding: 0;
  block-size: auto;
  inline-size: auto;
  max-inline-size: 100%;
}

.menu.ios .contentWrapper {
  padding: 0;
  border-radius: 14px;
}

@media (--reduce-motion) {
  .menu {
    --vkui_internal--actionsheet_animation_translateY_initial: 0%;
  }
}

@keyframes animation-actionsheet-slide-up {
  from {
    opacity: var(--vkui_internal--actionsheet_animation_opacity_initial);
    transform: translateY(var(--vkui_internal--actionsheet_animation_translateY_initial));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animation-actionsheet-slide-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: var(--vkui_internal--actionsheet_animation_opacity_initial);
    transform: translateY(var(--vkui_internal--actionsheet_animation_translateY_initial));
  }
}
