.heading {
  color: var(--vkui--color_text_primary);
}

.heading2 {
  font-size: var(--vkui--font_title1--font_size--regular);
  font-weight: var(--vkui--font_weight_accent2);
  line-height: var(--vkui--font_title1--line_height--regular);
  margin-block-start: 40px;
}

.heading3 {
  font-size: var(--vkui--font_title2--font_size--regular);
  font-weight: var(--vkui--font_weight_accent3);
  line-height: var(--vkui--font_title2--line_height--regular);
  margin-block-start: var(--vkui--spacing_size_2xl);
}

.anchor {
  position: relative;
  margin-inline-start: var(--vkui--spacing_size_m);
  opacity: 0;
  text-decoration: none;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.anchor:focus,
:hover > .anchor {
  opacity: 1;
}

.anchor::after {
  color: var(--vkui--color_icon_tertiary);
  content: '#';
}
