.host {
  position: relative;
}

.host::before {
  position: absolute;
  border: 1px dashed var(--vkui--color_separator_primary);
  border-radius: var(--vkui--size_border_radius--regular);
  content: '';
  inset: 0;
}

.active::before {
  border-width: 2px;
  border-color: var(--vkui--color_stroke_accent_themed);
}
