.host {
  flex-grow: 1;
  color: var(--vkui--color_text_primary);
  margin-block: var(--vkui--spacing_size_xl);
  margin-inline-start: 12px;
  min-inline-size: 0; /* см. https://github.com/VKCOM/VKUI/issues/5687 */
  word-break: break-word;
}

.host:first-child {
  margin-inline-start: 0;
}

.description {
  display: block;
  color: var(--vkui--color_text_secondary);
  margin-block-start: 2px;
}

.titleLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  min-inline-size: 0; /* см. https://github.com/VKCOM/VKUI/issues/5687 */
}

.titleAfter {
  flex-shrink: 0;
  color: var(--vkui--color_icon_tertiary);
  margin-inline-start: 4px;
}

.sizeYCompact {
  margin-block: var(--vkui--spacing_size_m);
}

@media (--sizeY-compact) {
  .sizeYNone {
    margin-block: var(--vkui--spacing_size_m);
  }
}
