.host {
  --vkui_internal--alert_animation_scale_initial: 0.95;

  position: relative;
  border-radius: var(--vkui--size_border_radius_paper--regular);
  box-shadow: var(--vkui--elevation4);
  color: var(--vkui--color_text_primary);
  margin-block: auto;
  margin-inline: 24px;
  max-inline-size: 416px;
  min-inline-size: 280px;
  user-select: none;
}

.desktop {
  inline-size: 100%;
}

.opening {
  /* prettier-ignore */
  animation: animation-alert-scale-up var(--vkui--animation_duration_m) var(--vkui--animation_easing_platform);
}

.closing {
  /* prettier-ignore */
  animation: animation-alert-scale-down var(--vkui--animation_duration_m) var(--vkui--animation_easing_platform);
  opacity: 0;
}

.host::before {
  position: absolute;
  border-radius: inherit;
  background-color: var(--vkui--color_background_modal);
  block-size: 100%;
  content: '';
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
}

.content {
  position: relative;
  padding-block: 24px 16px;
  padding-inline: 24px;
}

.contentWithButton {
  padding-inline-end: 52px;
}

.action {
  background: transparent;
  white-space: nowrap;
}

.actions {
  position: relative;
  display: flex;
  max-inline-size: 100%;
  padding-block: 0 12px;
  padding-inline: 12px;
}

.title {
  margin-block-end: 8px;
}

.description {
  color: var(--vkui--color_text_secondary);
}

.title,
.description {
  word-break: break-word;
}

.actionsDirectionHorizontal {
  justify-content: flex-end;
}

.actionsDirectionVertical {
  flex-direction: column;
  align-items: flex-end;
}

/* stylelint-disable-next-line selector-max-universal */
.actions > * {
  margin: 4px;
}

.actionsAlignLeft {
  align-items: flex-start;
  justify-content: flex-start;
}

.actionsAlignCenter {
  align-items: center;
  justify-content: center;
}

.actionsAlignRight {
  align-items: flex-end;
  justify-content: flex-end;
}

/**
 * iOS version
 */
.ios {
  --vkui_internal--alert_animation_scale_initial: 1.05;

  overflow: hidden;
  box-shadow: none;
  inline-size: 270px;
  min-inline-size: 270px;
}

.ios.closing {
  --vkui_internal--alert_animation_scale_initial: 1;
}

.ios .content {
  padding-block: 20px;
  padding-inline: 16px;
  text-align: center;
}

.ios .title:not(:last-child) {
  margin-block-end: 7px;
}

.ios .description {
  color: inherit;
}

.ios .content::after {
  position: absolute;
  background: var(--vkui--color_separator_primary_alpha);
  block-size: 1px;
  content: '';
  inset-block-end: 0;
  inset-inline: 0;
  transform-origin: center bottom;
}

.ios .actions {
  padding: initial;
}

.ios .actionsDirectionVertical {
  flex-direction: column;
  align-items: initial;
}

.ios .action {
  position: relative;
  display: block;
  overflow: hidden;
  border: 0;
  border-radius: 0;
  margin: 0;
  block-size: 44px;
  color: var(--vkui--color_text_accent);
  font-family: var(--vkui--font_family_base);
  font-size: 17px;
  line-height: 44px;
  padding-block: 0;
  padding-inline: 6px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
}

.ios .action::after {
  position: absolute;
  background: var(--vkui--color_separator_primary_alpha);
  content: '';
}

.ios .actionsDirectionHorizontal .action::after {
  block-size: 100%;
  inline-size: 1px;
  inset-block-start: 0;
  inset-inline-end: 0;
  transform-origin: right center;
}

.ios .actionsDirectionHorizontal .action:last-child::after {
  content: none;
}

.ios .actionsDirectionHorizontal .action {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.ios .actionsDirectionHorizontal .action:first-child {
  border-end-start-radius: var(--vkui--size_border_radius_paper--regular);
}

.ios .actionsDirectionHorizontal .action:last-child {
  border-end-end-radius: var(--vkui--size_border_radius_paper--regular);
}

.ios .actionsDirectionVertical .action::after {
  block-size: 1px;
  inline-size: 100%;
  inset-block-end: 0;
  inset-inline-start: 0;
  transform-origin: center bottom;
}

.ios .actionsDirectionVertical .action:last-child::after {
  content: none;
}

.ios .actionsDirectionVertical .action:last-child {
  border-end-end-radius: 12px;
  border-end-start-radius: 12px;
  border-start-end-radius: 0;
  border-start-start-radius: 0;
}

@media (min-resolution: 2dppx) {
  .ios .content::after,
  .ios .actionsDirectionVertical .action::after {
    transform: scaleY(0.5);
  }

  .ios .actionsDirectionHorizontal .action::after {
    transform: scaleX(0.5);
  }
}
@media (min-resolution: 3dppx) {
  .ios .content::after,
  .ios .actionsDirectionVertical .action::after {
    transform: scaleY(0.33);
  }

  .ios .actionsDirectionHorizontal .action::after {
    transform: scaleX(0.33);
  }
}

.ios .actionModeCancel {
  font-weight: 600;
}

.ios .actionModeDestructive {
  color: var(--vkui--color_text_negative);
}

/**
 * VKCOM
 */

.vkcom {
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.12),
    0 0 96px rgba(0, 0, 0, 0.16);
  inline-size: 400px;
}

.vkcom .content {
  padding-block-end: 20px;
}

.vkcom .actions {
  padding-block: 0 12px;
  padding-inline: 20px;
}

.vkcom .button {
  order: 2;
}

.vkcom .buttonModeCancel {
  order: 1;
}

.dismiss {
  position: absolute;
  color: var(--vkui--color_icon_secondary);
  inset-block-start: 8px;
  inset-inline-end: 8px;
}

@media (--reduce-motion) {
  .host,
  .ios {
    --vkui_internal--alert_animation_scale_initial: 1;
  }
}

@keyframes animation-alert-scale-up {
  from {
    opacity: 0;
    transform: scale(var(--vkui_internal--alert_animation_scale_initial));
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animation-alert-scale-down {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(var(--vkui_internal--alert_animation_scale_initial));
  }
}
