.host {
  --vkui_internal--skeleton_color_from: var(--vkui--color_skeleton_from);
  --vkui_internal--skeleton_color_to: var(--vkui--color_skeleton_to);
  --vkui_internal--skeleton_animation_duration: 1.5s;
  --vkui_internal--skeleton_gradient_left: 0;

  position: relative;
  display: inline-flex;
  overflow: hidden;
  border-radius: 6px;
  background-color: var(--vkui_internal--skeleton_color_from);
  inline-size: 100%;
  line-height: 1;
  max-inline-size: 100%;
}

/* Если скелетон находится внутри другого скелетона он меняет цвет */
.host .host {
  --vkui_internal--skeleton_color_from: var(--vkui--color_background_content);
  --vkui_internal--skeleton_color_to: var(--vkui--color_background_tertiary);
}

.host .host .host {
  --vkui_internal--skeleton_color_from: var(--vkui--color_skeleton_from);
  --vkui_internal--skeleton_color_to: var(--vkui--color_skeleton_to);
}

.host::before {
  position: absolute;
  animation-direction: normal /*rtl:reverse*/;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: animation-skeleton;
  animation-timing-function: ease-in-out;
  background-image: linear-gradient(
    90deg,
    var(--vkui_internal--skeleton_color_from),
    var(--vkui_internal--skeleton_color_to),
    var(--vkui_internal--skeleton_color_from)
  );
  block-size: 100%;
  content: ' ';
  inline-size: 100vw;
  inset-block-start: 0;
  inset-inline-start: var(--vkui_internal--skeleton_gradient_left);
  transform: translateX(-100vw);
}

@keyframes animation-skeleton {
  100% {
    transform: translateX(100vw);
  }
}

.disableAnimation::before {
  /**
   * Safari тратит время не пересчет анимации даже если элемент скрыт
   * Для повышения производительности анимацию необходимо выключить
   */
  animation-name: none;
  background-image: none;
}

@media (--reduce-motion) {
  .host::before {
    animation-name: none;
    background-image: none;
  }
}
