.host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 12px;
  border: 0.5px solid var(--vkui--color_separator_primary);
  border-radius: 8px;
  background: var(--vkui--color_background_contrast_themed);
  box-shadow: var(--vkui--elevation1);
  inline-size: 305px;
}

.time {
  border-block-start: 1px solid var(--vkui--color_separator_primary);
  margin-block: 12px 0;
  margin-inline: -12px;
  padding-block: 12px 0;
  padding-inline: 12px;
}

.header {
  margin-block-end: 4px;
}

.sizeS {
  padding: 8px;
  inline-size: 220px;
}

.sizeS .header {
  margin-block-end: 0;
}
