.root {
  display: flex;
  align-items: center;
  border-block-start: 1px solid var(--vkui_docs--color_stroke_separator_secondary);
  margin-block-start: 56px;
  padding-block-start: var(--vkui--spacing_size_4xl);
}

.navLinkItem {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--vkui--color_text_subhead);
  padding-block: var(--vkui--spacing_size_m);
  padding-inline: var(--vkui--spacing_size_xl);
  text-decoration: none;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--vkui--color_text_primary);
  margin-block-start: var(--vkui--spacing_size_s);
}

.navLinkItemNext {
  align-items: flex-start;
  margin-inline-start: auto;
}

.navLinkPrevIcon {
  margin-inline-end: var(--vkui--spacing_size_m);
}

.navLinkNextIcon {
  margin-inline-start: var(--vkui--spacing_size_m);
}
