/* stylelint-disable selector-max-universal */
.host {
  color: var(--vkui--color_icon_secondary);
  cursor: ns-resize;
  touch-action: manipulation;
  user-select: none;
}

.icon {
  pointer-events: none;
}
