.host {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  block-size: 40px;
  color: var(--vkui--color_icon_accent_themed);
  inline-size: 48px;
  padding-block: 6px;
  padding-inline: 12px 0;
}
