.host {
  position: absolute;
  box-sizing: border-box;
  padding: 18px;
  block-size: 56px;
  color: var(--vkui--color_icon_contrast);
  inline-size: 56px;
  inset-block-start: 0;
  inset-inline-end: -56px;
}

.host::before {
  position: absolute;
  display: block;
  border-radius: 50%;
  background: var(--vkui--color_overlay_secondary);
  content: '';
  inset: 14px;
  transition: background-color 0.15s ease-out;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list -- fixes icon misplacement on Safari in some cases */
.host :global(.vkuiIcon) {
  transform: translateX(0);
}

.hover::before {
  background: var(--vkui--color_overlay_secondary--hover);
}

.active::before {
  background: var(--vkui--color_overlay_secondary--active);
}
