.input {
  z-index: var(--vkui_internal--z_index_form_field_element);
  display: block;
  flex-grow: 1;
  align-self: center;
  cursor: text;
  font-variant-numeric: tabular-nums;
  margin-inline: 10px 14px;
  user-select: text;
  white-space: nowrap;
}

.inputTimeDivider {
  /* stylelint-disable-next-line declaration-no-important */
  letter-spacing: 6px !important;
}

.sizeYCompact .input {
  margin-inline-end: 22px;
}

@media (--sizeY-compact) {
  .sizeYNone .input {
    margin-inline-end: 22px;
  }
}
